* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

.row-limit-size {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.head-top {
    height: 90px;
}

header nav ul {
    list-style-type: none;
}


.main-menu>ul>li {
    position: relative;
}

.main-menu>ul>li>a {
    display: block;
    height: 90px;
    line-height: 90px;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    background-color: black;
    width: 268px;
    text-align: center;

}

.main-menu>ul>li:hover>a {
    color: #cb6ce6;
    text-shadow: 1px 1px 0 #00ffff;
}

#actualites>.titre>h1 {
    font-size: 66px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #cb6ce6;
    text-shadow: 2px 2px 0 #00ffff;
    margin-left: 15px ;
    margin-top: 35px;
    text-align: center;
}

#actualites>.titre>figure>img {
   margin-left: 550px;
   margin-top: 25px;
}

#actualites>.offre>h2{
    margin-top: 80px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
}

#actualites>.offre>.saint-valentin{
    justify-content: center;
    margin-top: 80px;
}

#actualites>.offre>.saint-valentin>p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: justify;
    margin-top: 160px;
    padding: 0 40px 0 25px;
}

#actualites>.offre>.saint-valentin>img {
    padding-right: 25px;
    border-radius: 90px;
}

#actualites>.fete>h2{
    margin-top: 80px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
}

#actualites>.fete>.printemps{
    justify-content: center;
    margin-top: 80px;
}

#actualites>.fete>.printemps>p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: justify;
    margin-top: 160px;
    padding: 0 25px 0 40px;
}

#actualites>.fete>.printemps>img {
    padding-left: 25px;
    border-radius: 90px;
}

#actualites>.instagram>h2{
    margin-top: 80px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
}

#actualites>.instagram>.concours{
    justify-content: center;
    margin-top: 80px;
}

#actualites>.instagram>.concours>p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: center;
    margin-top: 180px;
    padding: 0 25px 0 40px;
}

#actualites>.instagram>.concours>img {
    padding-left: 25px;
    border-radius: 90px;
}

footer {
    background-color: black;
    justify-content: space-around;
    height: 130px;
    margin-top: 25px;
}

footer>.tatyou>h4 {
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;

}

.tatyou>p {
    color: white;
}

.tatouage>h4 {
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tatouage>p {
    color: white;
}

.piercieurs>h4 {
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.piercieurs>p {
    color: white;
}

.faq>h4 {
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact>h4 {
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
