* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}




.row-limit-size {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

header {
    background-image: url(../i);

}


.head-top {
    height: 90px;
}

header nav ul {
    list-style-type: none;
}


.main-menu>ul>li {
    position: relative;
}

.main-menu>ul>li>a {
    display: block;
    height: 90px;
    line-height: 90px;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    background-color: black;
    width: 268px;
    text-align: center;

}

.main-menu>ul>li:hover>a {
    color: #cb6ce6;
    text-shadow: 1px 1px 0 #00ffff;
}

#burger {
    position: relative;
}


#burger {
    display: none;
    background-color: #000;
}



@media screen and (max-width: 950px){
    .main-menu{
        display: none;
    }

    #burger{
        display: block;
        width: 500px;
        padding-left: 400px;
    }
    
}


body {
    background: #ffffff;
    justify-content: center;
    color: #000000;
    }
    
    .contactez-nous {
    width: 1000px;
    padding: 0 50px 0 50px;
    margin-left: 300px;
    
    }
    
    .contactez-nous > h1 {
    font-weight: 500;
    margin-top: 25px;
    }
    
    .contactez-nous > p {
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 25px;
    }
    
    form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
    }
    
    form div > label {
    margin-bottom: 7px;
    font-weight: 600;
    }
    
    form div > input, form div > select, form div > textarea {
    background: #d099e0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    
    }
    
    form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
    }
    
    form div > select {
    appearance: none;
    background-repeat: no-repeat;
    }
    
    form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
    }
    
    form div > input::placeholder, form div > textarea::placeholder {
    color: white;
    }
    
    form div > select:invalid {
    color: white;
    }
    
    form div > select option {
    background: white;
    color: #000000;
    }

    
    
    form div:last-child {
    align-items:center;
    margin-top: 20px;
    }
    
    .snip1564 {
        background-color: #ffffff;
        border: none;
        border-bottom: 6px solid #cb6ce6;
        border-top: 6px solid #cb6ce6;
        color: #555;
        cursor: pointer;
        display: inline-block;
        font-family: 'Raleway', Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 46px;
        letter-spacing: 3px;
        line-height: 34px;
        margin: 15px 45px;
        outline: none;
        padding: 0 10px;
        position: relative;
        text-transform: uppercase;
      }
      
      .snip1564:before,
      .snip1564:after {
        box-sizing: border-box;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #ffffff;
        border-radius: 50%;
        top: -6px;
        content: "";
        height: 46px;
        position: absolute;
        width: 46px;
        border: 6px solid #ddd;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: -1;
      }
      
      .snip1564:before {
        right: -23px;
        border-left-color: #cb6ce6;
        border-bottom-color: #cb6ce6;
      }
      
      .snip1564:after {
        left: -23px;
        border-right-color: #cb6ce6;
        border-top-color: #cb6ce6;
      }
      
      .snip1564:hover,
      .snip1564.hover {
        background-color: #ffffff;
      }
      
      .snip1564:hover:before,
      .snip1564.hover:before,
      .snip1564:hover:after,
      .snip1564.hover:after {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
      }
      
     
      body {
        background-color: #ffffff;
      }

    .contactez-nous>h1 {
        font-size: 46px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    footer {
        background-color: black;
        justify-content: space-around;
        height: 130px;
    }
    
    footer>.tatyou>h4 {
        color: white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 10px;
        margin-top: 10px;
    
    }
    
    .tatyou>p {
        color: white;
    }
    
    .tatouage>h4 {
        color: white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .tatouage>p {
        color: white;
    }
    
    .piercieurs>h4 {
        color: white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .piercieurs>p {
        color: white;
    }
    
    .faq>h4 {
        color: white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .contact>h4 {
        color: white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
